<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="Layout/index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body layout:fragment="body">
<section class="banner-area organic-breadcrumb">
  <div class="container">
    <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
      <div class="col-first">
        <h1>Shop Category page</h1>
        <nav class="d-flex align-items-center">
          <a href="index-2.html">Home<span class="lnr lnr-arrow-right"></span></a>
          <a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
          <a href="category.html">Fashon Category</a>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <div class="sidebar-categories">
        <div class="head">Browse Categories</div>
        <ul class="main-categories">
          <li class="main-nav-list ">
            <a  th:class="${0 == cate} ? 'ActiveSearch' : ''"
               th:href="@{'?brand=' + ${brand} + '&cate=0' + '&color=' + ${color} }"    >All


            </a>

          </li>
          <li class="main-nav-list" th:each="ct : ${categories}">
            <a th:href="@{'?brand=' + ${brand} + '&cate=' + ${ct.getCateId()} + '&color=' + ${color} }"
               th:text="${ct.getName()}"
               th:class="${ct.getCateId() == cate }? 'ActiveSearch' : ''">
              <!-- Thêm class 'ActiveSearch' nếu điều kiện được thỏa mãn -->
            </a>


          </li>

        </ul>
      </div>
      <div class="sidebar-categories mt-50">
        <div class="common-filter">
          <div class="head">Brands</div>

            <ul class="main-categories">
              <li class="main-nav-list">
                <a  th:href="@{'?brand=0'  + '&cate=' + ${cate} + '&color=' + ${color} }"
                    th:class="${0 == brand }? 'ActiveSearch' : ''">All


                </a>

              </li>
              <li class="main-nav-list" th:each="b : ${brands}">
                <a
                        th:class="${b.getBrandId() == brand }? 'ActiveSearch' : ''"
                        th:href="@{'?brand=' + ${b.getBrandId()} + '&cate=' + ${cate} + '&color=' + ${color} }"
                        th:text="${b.getBrandName()}">

                </a>

              </li>

            </ul>
          </div>
        <div class="sidebar-categories">
          <div class="head">Color</div>
          <form action="#">
<!--            <ul>-->
<!--              <li class="filter-list" th:each="color : ${colors}" >-->
<!--                <a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"  th:text="${color.getName()}"></a>-->
<!--              </li>-->

<!--            </ul>-->
            <ul class="main-categories">
              <li class="main-nav-list">
                <a  th:href="@{'?brand=' + ${brand} + '&cate=' + ${cate} + '&color=0'}"
                    th:class="${0 == color }? 'ActiveSearch' : ''">All


                </a>

              </li>
              <li class="main-nav-list" th:each="c : ${colors}">
                <a  th:href="@{'?brand=' + ${brand} + '&cate=' + ${cate} + '&color=' + ${c.getColorId()} }"
                    th:text="${c.getName()}"
                    th:class="${c.getColorId() == color }? 'ActiveSearch' : ''">


                </a>

              </li>

            </ul>
          </form>
        </div>
        <div class="common-filter">
          <!-- Các phần khác của common-filter ở đây -->

          <div class="head">Price</div>
          <form action="#">
            <ul>
              <li class="filter-list">
                <input class="pixel-radio" type="radio" id="gold" name="color" value="1" checked>
                <label for="gold">All</label>
              </li>

              <li class="filter-list">
                <input class="pixel-radio" type="radio" id="black" name="color" value="2">
                <label for="black">10$ - 30$</label>
              </li>

              <li class="filter-list">
                <input class="pixel-radio" type="radio" id="balckleather" name="color" value="3">
                <label for="balckleather">30$ - 50$</label>
              </li>

              <li class="filter-list">
                <input class="pixel-radio" type="radio" id="blackred" name="color" value="4">
                <label for="blackred">50$ - 80$</label>
              </li>


            </ul>
          </form>
        </div>

        </div>
      </div>

    <div class="col-xl-9 col-lg-8 col-md-7">

      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting" >
          <select id="sortOptions">
            <option value="1" selected>Name Asc</option>
            <option value="2">Name Desc</option>
            <option value="3">Price Asc</option>
            <option value="4">Price Desc</option>

          </select>
        </div>

      </div>



      <section class="lattest-product-area pb-40 category-list">
        <div class="row">

          <div class="col-lg-4 col-md-6" th:each="p : ${ShoesList}">
            <div class="single-product">
              <img class="img-fluid" th:src="${p.getImage()}" alt>
              <div class="product-details">
                <h6 th:text="${p.getName()}"></h6>
                <div class="price">
                  <h6 th:text="${p.getPrice()}"></h6>

                </div>
                <div class="prd-bottom">
                  <a th:href="@{/Order/AddToCart/{shoesId}(shoesId=${p.getShoesId()})}" class="social-info">
                    <span class="ti-bag"></span>
                    <p class="hover-text">add to bag</p>
                  </a>
                  <a href class="social-info">
                    <span class="lnr lnr-heart"></span>
                    <p class="hover-text">Wishlist</p>
                  </a>
                  <a href class="social-info">
                    <span class="lnr lnr-sync"></span>
                    <p class="hover-text">compare</p>
                  </a>
                  <a th:href="@{/Order/detailProduct/{shoesId}(shoesId=${p.getShoesId()})}" class="social-info">
                    <span class="lnr lnr-move"></span>
                    <p class="hover-text">view more</p>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>





      </section>


      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting mr-auto">
          <select>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
          </select>
        </div>
        <div class="pagination">
          <a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
          <a href="#" class="active">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
          <a href="#">6</a>
          <a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>


</body>
</html>